/* Custom font import */

@font-face {
  font-family: "Bold";
  src: local("Brandon_bld"), url(./fonts/Brandon_bld.otf) format("opentype");
}
@font-face {
  font-family: "Regular";
  src: local("Brandon_reg"), url(./fonts/Brandon_reg.otf) format("opentype");
}
@font-face {
  font-family: "Brandon_light";
  src: local("Brandon_light"), url(./fonts/Brandon_light.otf) format("opentype");
}
@font-face {
  font-family: "thin";
  src: local("Brandon_thin"), url(./fonts/Brandon_thin.otf) format("opentype");
}

/* css variables */
:root {
  --bacground: #15202b !important;
  --seondary: #1d9bf0 !important;

  --background: #e3a173 !important;
  --secondary: #293845 !important;
  --hover: rgb(36, 36, 36);
}
/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #f5f5f5;
  font-family: Regular, "sans-serif";
}
.App {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 7rem;
  padding-right: 7rem;
  right: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.Apps::-webkit-scrollbar {
  display: none !important;
}

@media all and (max-width: 75rem) {
  .App {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media all and (max-width: 35rem) {
  .App {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .darkbg,
  .lightbg {
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
  }
  .lightbg {
    background: linear-gradient(
        rgba(227, 161, 115, 0.8),
        rgba(227, 161, 115, 0.9)
      ),
      url(https://res.cloudinary.com/trive/image/upload/v1645427737/imageedit_1_2762711690.png)
        no-repeat center center fixed;
  }
  .darkbg {
    background: linear-gradient(rgba(21, 32, 43, 0.8), rgba(21, 32, 43, 0.9)),
      url(https://res.cloudinary.com/trive/image/upload/v1645427737/imageedit_1_2762711690.png)
        no-repeat center center fixed;
  }
}
